* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
}
.main-item, aside {
    height: 100vh;
    float: left;
}
.main-item {
    width: 80%;
    position: relative;
}
    main .hide {
        display: none;
    }
        .main-img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
        main .text {
            width: 60%;
            display: flex;
            flex-direction: column;
            position: absolute;
            bottom: 30px;
            right: 25px;
            color: white;
            text-align: right;
        }
            .nazione {
                font-size: 24px;
                font-weight: bold;
            }
            .descrizione {
                font-size: 22px;
            }


aside {
    width: 20%;
    display: flex;
    flex-direction: column;
    position: relative;
}
    .arrows {
        position: absolute;
        background-color: #cccccc;
        font-size: 24px;
        border-radius: 50%;
        width: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 35px;
        cursor: pointer;
    }
        .arrow-top {
            top: 15px;
            left: 50%;
            transform: translate(-50%, 0);
        }
        .arrow-bottom {
            bottom: 15px;
            left: 50%;
            transform: translate(-50%, 0);
        }
    aside > div:not(.arrows, .frecce) {
        width: 100%;
        height: calc(100vh / 5);
        background-color: rgba(0, 0, 0, 1);
    }
        .aside-img {
            display: block;
            width: 100%;
            height: 100%;
            object-position: center;
            object-fit: cover;
            opacity: 0.7;
        }
        .selected {
            opacity: 1;
            border: 2px solid white;
        }